.category {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
	gap: 10px;
	overflow-x: auto;
  white-space: nowrap; 

	&::-webkit-scrollbar {
		display: none;
	}

	&__button {
		background-color: #282c34;
		color: #fff;
		border: none;
		padding: 10px 20px;
		border-radius: 20px;
		transition: all 0.3s ease-in-out;
	}
}